/* W3.CSS 4.03 Mar 2017 by Jan Egil and Borge Refsnes */
html{box-sizing:border-box}*,*:before,*:after{box-sizing:inherit}
html * {font-family: "FontAwesome", sans-serif;color:rgb(0, 66, 60)}

a{text-decoration: none}

/* Extract from normalize.css by Nicolas Gallagher and Jonathan Neal git.io/normalize */
html{-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}body{margin:0}
article,aside,details,figcaption,figure,footer,header,main,menu,nav,section,summary{display:block}

a{background-color:transparent;-webkit-text-decoration-skip:objects}
a:active,a:hover{outline-width:0}abbr[title]{border-bottom:none;text-decoration:underline;text-decoration:underline dotted}



/* End extract */
/* My Own Colors to implement instead of w3-text-grey*/
/*.dark-teal{color:rgba(0, 75, 68, 1)!important}
p,h2,h5,li,ul{color:rgba(0, 75, 68, 1)!important}*/

/*.dark-teal{color:rgb(0, 41, 37)!important}*/
/*.dark-teal{color: rgba(0, 71, 64, 1) !important;}*/
/*.dark-teal{color:rgb(0, 66, 60)!important}*/
.dark-teal{color:rgb(0, 61, 55)}
i,a,.light-teal{color:rgb(0, 150, 136)!important}
/*p,h2,h5,li,ul{color:rgb(0, 41, 37)!important}*/
/*p,h2,h5,li,ul{color:rgb(0, 71, 64)!important}*/
i{margin-right:16px}
.nomargin-r{margin-right: 0}
a{color:inherit}a:hover {opacity:0.60}
img{margin-bottom:-5px}
svg{font-family: inherit;font-size: inherit;fill:rgb(0, 150, 136)!important;color:rgb(0, 150, 136)!important}
.w3-ul{list-style-type:none;padding:0;margin:0}.w3-ul li{padding:8px 16px;border-bottom:1px solid #ddd}.w3-ul li:last-child{border-bottom:none}

.w3-text-white,.w3-hover-text-white:hover{color:#fff!important}

.title{text-align:justify;display:flex;justify-content:space-around;letter-spacing:1px;font-size:56px ;line-height: 1.1}

.profilepic{width:100%; border-radius: 20px;background-color:rgba(0,0,0,0.16);opacity:0.8}

h1{font-size:36px}h2{font-size:30px}h3{font-size:24px}h4{font-size:20px}h5{font-size:18px}h6{font-size:16px}.w3-serif{font-family:serif}
h1,h2,h3,h4,h5,h6{font-weight:400;margin:10px 0}.w3-wide{letter-spacing:4px}
.justified{text-align:justify;display:flex;justify-content:space-around;letter-spacing:1px;font-size:56px;line-height: 1.1}
hr{border:0;border-top:1px solid #eee;margin:16px 0}
p, li, ul{font-size: 18px}
.bar-text{margin-bottom: 10px}
.title-margin{margin-left: 8px}
.skillbar{background-color: #009688!important;height:18px!important;color: white;text-align: center}
.skillbar-container{background-color:#f1f1f1!important;}
.skillbar, .skillbar-container{border-radius:16px;font-size:100% !important;}
.light-teal-fill{color: #fff!important;background-color: #009688!important;}

.w3-card-2{border-radius: 20px;box-shadow:0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12)}
.w3-col,.w3-half,.w3-third,.w3-twothird,.w3-threequarter,.w3-quarter{float:left;width:100%;padding:0 8px}
.w3-row-padding,.w3-row-padding>.w3-half,.w3-row-padding>.w3-third,.w3-row-padding>.w3-twothird,.w3-row-padding>.w3-threequarter,.w3-row-padding>.w3-quarter,.w3-row-padding>.w3-col{padding:0 8px}

.w3-content{max-width:1380px;margin:auto}
.w3-margin{margin:16px!important}.w3-margin-top{margin-top:16px!important}.w3-margin-bottom{margin-bottom:16px!important}
.w3-margin-left{margin-left:16px!important}.w3-margin-right{margin-right:16px!important}
.w3-padding-16{padding-top:16px!important;padding-bottom:16px!important}
.w3-container:after,.w3-container:before,.w3-panel:after,.w3-panel:before,.w3-row:after,.w3-row:before,.w3-row-padding:after,.w3-row-padding:before,.w3-bar:before,.w3-bar:after{content:"";display:table;clear:both}

.w3-badge,.w3-tag{background-color:#000;color:#fff;display:inline-block;padding-left:8px;padding-right:8px;text-align:center}.w3-badge{border-radius:50%}
.w3-round{border-radius:4px}
.w3-container{padding:0.01em 16px}

@media (min-width:801px){.w3-third{width:33.33333%}.w3-twothird{width:66.66666%}.w3-threequarter{width:74.99999%}}
/*@media(max-width:800px){.w3-third{max-width:80%;margin:auto}.w3-twothird{max-width:80%;margin:auto}.profilepic{max-height: 300px;max-width:inherit}.w3-content{margin:auto;align-content: center}}*/

.size-l{font-size:18px!important}.size-xl{font-size:24px!important}.size-xxl{font-size:36px!important}
.w3-margin{margin:16px!important}.w3-margin-top{margin-top:16px!important}.w3-margin-bottom{margin-bottom:16px!important}


